body{ background-color: #4d47ff0a;
margin: 0 auto;}
  
  

/*font style*/
.open-sans-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.open-sans-raleway{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.body{
  margin-top: 0;
}
/*nav style*/
nav ul li{
  list-style: none;
}
nav ul li a {
  text-decoration: none;
}
nav{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 150px;
}


nav h1{
  font-size: 34px;
  font-weight: 900px;
  color: #4E47FF;
}
/*button*/
.btn-primary{
  background-color: #4E47FF;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 12px 36px;
  border: none;
  border-radius: 8px;
  
}
.btn-primary:hover{
  background-color: rgb(228, 145, 115);
  cursor: pointer;}
  img {
    cursor: pointer;
  }
nav{
  cursor: pointer;
}

/*header text*/
.title{
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  text-align: center;
  padding: 0 37px;margin-top: 158px;
}
.header-content ul li {
  list-style: none;
}
.header-content li a{ text-decoration: none;
text-align: center;}
.header-content li a button{
  
  margin-left: 470px;
  margin-bottom: 152px;

}
.header-content ul{
  align-items: center;
}
.header{
  background-image: url('../Image/Hero-bg.png');
  margin: 0;
  margin-top: 0;
  max-width: 1400px;
  max-height: 698px;
  background-repeat: repeat;}

/*card*/
.card-01{
  width: 300px;
}
.card-02{
  width: 300px;
}
.card-01 h3{
  font-size: 30px;
  font-weight: bold;
  color: #252432;
}
.card-01 p{
  font-size:10px;
  font-weight: 400px;
  color: #252432;
  justify-content: left;
}
.card-02{
  width: 515px;
  
}
.card-02 img{
  width: 80%;
  border-radius: 48px;
}
.card-container-1{
  max-width: 1140px;
  max-height: 325px;
  display: flex;
  gap: 220px;
  justify-content: center;
  margin: 116px 200px;
}
.card-container-1{
  display: flex;
  justify-content: center;
}

.bap-container{
  max-width: 1140px;
  max-height: 305px;
  background-color: rgb(215, 215,255);
  padding: 50px 80px;
  margin-top: 116px;
  margin-right: 160px;
  margin-left: 160px;
  border: none;
  border-radius: 25px;
}

.section-part2{
  display: flex;
  justify-content: center;
  
}
.bap-container h2{
 
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;

}
.container-2{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.c-1 h3{
  
  font-size: 80px;
  font-weight: bold;
  align-items: center;
  color: #4E47FF;
  margin-bottom: 8px;
}
.c-1 p{
font-size: 20px;
  font-weight: 400px;
  color: #252432;
}
/*reviw*/



.card-heading{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  text-align: center;

}
.card-container-reviw{
  display:flex;
  gap: 20px;
}
.card{
  width: 360px;
  height: 240px;
  background-color: #FFFFFF;
  
  border-radius: 14px;
  padding: 24px 24px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.174);
  margin: 0 auto;
}
.card img{
  border-radius: 50px;
}
.pic-name{
  padding: 10px 10px;
  display: flex;
  gap: 15px;
  
  align-items: left;
}
.date{
  color: #252432;
}


/*Get in section*/
.get-in-touch{
  width: 1140px;
  height: 632px;
  padding: 0 71px;
}
.lets-getin h3{
  font-size: 65px;
  font-weight: bold;

  color: #000000;
}
.form-item{
  
  padding: 0 71px;
  
}
.form-item label {
  color: black;
  font-size: 18px;
  font-weight:medium;

}
input{font-size: 18px;
  font-weight:medium;
  border: 1px solid;
  border-radius: 5px;
  padding: 25px 10px;
  width: 400px;
  

}

textarea{
  color: #252432;
  width: 400px;
  height: 70px;
   font-size: 18px;
  font-weight:medium;
  border: 1px solid;
  border-radius: 15px;
  padding: 25px 10px;

}
.container-touch{
  display: flex;
  gap: 115px;
  padding: 150px 220px;
  justify-content: center;
}

/*footer*/
.headline{
  margin-bottom: 7px;
  font-size: 100px;
  font-weight: 900px;
  color: #4E47FF;
  text-align: center;
}
.footertext p{
  
  text-align: center;
  color: #8987A1;
}
.footertext ul li {
  list-style: none;
}
.footertext li a {
  text-decoration: none;
  color: #8987A1;
}
.footertext ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.footer{
  background-color: #ffffff;
  width: 500px;
  height: 212px;
  padding: 105px 455px;

}
